<div class="tableBox">
  <table class="table table-striped" style="align-items: center;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Usuario</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | slice: (0*10)*10 ">
        <th scope="row">{{user.id }}</th>
        <td>{{user.login}}</td>
        <td>
          <a [href]="'https://github.com/'+user.login" target="_blank" class="avatar">
            <img [src]="user.avatar_url+'&s=80'" class="img" [alt]="user.name">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

